.poker-cards-container {
  display: flex;
  margin: 2rem 0;

  .poker-card {
    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    border: 1px solid #2596be;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 16px 0px;
    color: #2596be;
    margin-right: 12px;
    cursor: pointer;

    height: 80px;
    width: 50px;
  }
}
