<div class="container content">
  <div class="room-container">
    <h1>Room ID: {{ roomId }}</h1>

    <div class="players-container">
      <app-players [users]="users" [state]="state"></app-players>
    </div>

    <div>
      <button class="button is-primary is-outlined mr-3" (click)="reset()">
        Reset
      </button>
      <button class="button is-primary" (click)="displayCards()">
        Display Cards
      </button>
    </div>

    <app-cards [roomId]="roomId"></app-cards>
  </div>
</div>
