<div class="container content">
  <div class="room-container">
    <div class="row-1 mt-3 mx-3">
      <h3 class="is-flex is-align-items-center">Room ID: {{ roomId }}</h3>

      <div class="is-flex is-align-items-center">
        <button class="button is-rounded is-primary" (click)="copyMessage()">
          Copy Invite Link
        </button>
      </div>
    </div>

    <div class="players-container">
      <app-players [users]="users" [state]="state"></app-players>
    </div>

    <div>
      <button class="button is-primary is-outlined mr-3" (click)="reset()">
        Reset
      </button>
      <button class="button is-primary" (click)="displayCards()">
        Display Cards
      </button>
    </div>

    <app-cards [roomId]="roomId"></app-cards>
  </div>
</div>
