<div class="container join-room">
  <div class="row-1">
    <h1>Story Points Estimator</h1>
  </div>

  <div class="row-2">
    <div class="input-name-container">
      <h4 class="is-flex is-justify-content-center">Join a room</h4>
      <input
        class="input"
        type="text"
        placeholder="Enter your name"
        [(ngModel)]="name"
      />

      <button
        class="button create-room-button is-fullwidth"
        (click)="joinRoom()"
        [disabled]="name.trim().length === 0"
      >
        Join room
      </button>
    </div>
  </div>
</div>
